@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

.corner {
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #30a537;
  height: 1000px;
  height: 100%;
  width: 100%;
}
